EAI_RestType1/Schemas/CRMA/CRMA_HERO_ONL_0002_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/CRMA_HERO_ONL_0002_Request" xmlns:tns="http://www.example.org/CRMA_HERO_ONL_0002_Request" elementFormDefault="qualified">
	<element name="element">
		<complexType>
			<sequence>
				<element name="REQUEST">
					<complexType>
						<sequence>
							<element name="V_BRAND" type="string" minOccurs="1" maxOccurs="1"></element>
							<element name="V_SALEDATE" type="string" minOccurs="1" maxOccurs="1"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>