EAI_RestType1/Schemas/HERO/HERO_OBO_ONL_0004_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/HERO_OBO_ONL_0004_Request" xmlns:tns="http://www.example.org/HERO_OBO_ONL_0004_Request" elementFormDefault="qualified">
	<element name="element">
		<complexType>
			<sequence>
				<element maxOccurs="unbounded" minOccurs="1" name="DROP_MEMBER_LIST">
					<complexType>
						<sequence>
							<element name="CID" type="string" minOccurs="1" maxOccurs="1"></element>
							<element name="DROP_DATE" type="string" minOccurs="1" maxOccurs="1"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>