EAI_RestType1/Schemas/OBO/OBO_HERO_ONL_0015_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/OBO_HERO_ONL_0015_Response" xmlns:tns="http://www.example.org/OBO_HERO_ONL_0015_Response" elementFormDefault="qualified">
   <element name="element">
        <complexType>
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_CD" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_MSG" type="string"/>
      <element maxOccurs="1" minOccurs="1" name="RESPONSE_DATA" type="string"/>
    </sequence>
        </complexType>
    </element>
</schema>