EAI_RestType1/Schemas/MERP/MERP_OBO_ONL_0001_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/MERP_OBO_ONL_0001_Request" xmlns:tns="http://www.example.org/MERP_OBO_ONL_0001_Request" elementFormDefault="qualified">
	<element name="element">
		<complexType>
			<sequence>
				<element maxOccurs="unbounded" minOccurs="1" name="LEAVE_EMPLOYEE_LIST">
					<complexType>
						<sequence>
							<element name="ADMIN_EMP_NO" type="string" minOccurs="1" maxOccurs="1"></element>
							<element name="LEAVE_DATE" type="string" minOccurs="1" maxOccurs="1"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>